<h1>Guitar list</h1>
<table mat-table [dataSource]="guitars" class="mat-elevation-z8 data-table">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>
  
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="accent" (click)="deleteGuitar(element.id)">Delete Id: {{element.id}}</button> 
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br/>

<!-- <form class="example-form"> -->
<form class="example-form" #guitarForm="ngForm" (ngSubmit)="addGuitar(guitarForm)">
<h1>Add a guitar</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input id="year" name="year" [(ngModel)]="year" matInput placeholder="Year" value="">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input id="brand" name="brand" [(ngModel)]="brand" matInput placeholder="Brand" value="">
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input id="model" name="model" [(ngModel)]="model" matInput placeholder="Model" value="">
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input id="color" name="color" [(ngModel)]="color"  matInput placeholder="Color" value="">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <input type = "submit" value = "submit" color="accent"> -->
<button mat-raised-button color="accent" type="submit">Submit</button>
</form>

{{guitarForm.value | json}}


