<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-main-nav></app-main-nav> -->

<mat-toolbar color="primary">
  <span>Fullstack TS Practice</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-button>My Inventory</button>
  <button mat-button>Login</button>
</mat-toolbar>


<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ title }}! -->
    Inventory
  </h1>
  <button mat-raised-button color="accent"  routerLink="/guitar" routerLinkActive="active">Get Started</button>
<a routerLink="/guitar" routerLinkActive="active">guitar</a>

</div>

<router-outlet></router-outlet>
