<h1>Face Recognition</h1>
<hr>

<div id="app">
  <div>
    <video #video id="video" width="640" height="480" autoplay></video>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
  </div>
  <div>
    <button mat-raised-button color="accent" id="snap" (click)="capture()">
      Snap Photo
    </button>
    <button mat-raised-button color="accent" id="snap" (click)="process()">
      Face Detection
    </button>
    <button mat-raised-button color="accent" id="snap" (click)="recognize()">
      Face Recognition
    </button>
  </div>
  <!-- <canvas #canvas id="canvas" width="640" height="480"></canvas>

  <ul>
      <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
      </li>
  </ul> -->
</div>
<canvas #canvas id="canvas" width="640" height="480"></canvas>


<!-- <canvas #canvas id="canvas2" width="640" height="480"></canvas> -->
