<h1>Face Recognition</h1>
<hr>

<div id="app">
  <div>
    <video #video id="video" width="640" height="480" autoplay></video>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
  </div>
  <div>
    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile>
        <button mat-raised-button color="accent" id="snap" (click)="capture()">
          Snap Photo
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="accent" id="snap" (click)="detect()">
          Face Detection
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="accent" id="snap" (click)="recognize()">
          Face Recognition
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!-- <canvas #canvas id="canvas" width="640" height="480"></canvas>

  <ul>
      <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
      </li>
  </ul> -->
</div>
<canvas #canvas id="canvas" width="640" height="480"></canvas>


<!-- <canvas #canvas id="canvas2" width="640" height="480"></canvas> -->
